@font-face {
  font-family: "TechniqueSans";
  font-weight: normal;
  font-style: normal;
  src: url("./font/Technique\ Sans.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "BasierSquareMono";
  font-weight: normal;
  font-style: normal;
  src: url("./font/basiersquaremono-regular-webfont.eot");
  src: url("./font/basiersquaremono-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./font/basiersquaremono-regular-webfont.woff") format("woff"),
    url("./font/basiersquaremono-regular-webfont.ttf") format("truetype");
  font-display: swap;
}
